@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono&family=Varela+Round&display=swap');

:root{
    --bgColor: #251d35;
    --textPrimary: #7259a3;
    --textSecondary: rgb(232, 131, 247);
    --textError: #ca4754
    --primaryColor: #fd4;
    --logoColor: #e1e1e1;
    --hoverColor: #ad9ccf;
}
/* .btn:hover{
    fill: var(--logoColor);
    background-color: var(--hoverColor);
    opacity: 0.5;
} */
body{
    font-family: 'Varela Round', sans-serif;
    background-color:var(--bgColor);
    color: var(--textPrimary);
}
main{
    width: 1000px;
    margin: 50px auto;
}
h1{
    text-align: left;
    font-size: 60px;
    color: var(--logoColor);
}
h1 svg{
    width: 40px;
    fill: var(--textSecondary);
}
button {
    background-color: transparent;
    border-radius: 5px;
    padding: 4px 5px;
    border: none;
    cursor: pointer;
}
button svg{
    width: 40px;
    fill: var(--textPrimary);
    background-color: transparent;
}
button svg:hover{
    fill: rgb(255, 255, 255);
}
#header{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    margin: 60px 30px 30px;
}
#buttons{
    text-align: center;
    background-color: transparent;
    margin-top: 50px;
}
#info{
    color: var(--primaryColor);
    text-align: center;
    font-size: 40px;
}
div#game{
    line-height: 45px;
    height: 180px;
    width: 900px;
    margin: auto;
    text-align: left;
    overflow: hidden;
}
#words{
    font-size: x-large;
}
div.word{
    display: inline-block;
    margin: 0 5px;
}
